* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}
body::selection {
  color: white;
  background-color: #68aca4;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.create-form,
.share-form,
.receive-form {
  padding: 1.5rem;
  width: 60%;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.create-form {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 1rem;
}

.label {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  color: darkgrey;
  font-size: 0.8rem;
  line-height: 1;
}

.input {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  border: 0;
  outline: none;
  border-bottom: 2px solid darkgrey;
  width: 100%;
  transition: all 0.2s;
  font-size: 1rem;
  padding-bottom: 0.4rem;
}
.input:focus {
  border-bottom: 2px solid #68aca4;
}
.input:focus::selection {
  color: white;
  background-color: #68aca4;
}

.button {
  grid-row: 3 / 4;

  padding: 0.9rem 2rem;
  text-transform: uppercase;
  color: white;
  background-color: #68aca4;
  border: 0;
  border-radius: 3px;
  outline: none;
  transition: all 0.1s;
}
.button:hover {
  transform: translateY(-3px);
}
.button:active {
  transform: translateY(-1px);
}

.share-form {
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
}
.share-form p {
  margin-bottom: 2rem;
}

.receive-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 1rem;
}

.button-reload {
  padding: 0.5rem;
  text-decoration: none;
  color: #7cb4e4;
  font-size: 0.8rem;
  border-radius: 2px;
  transition: all 0.2s;
}
.button-reload:hover {
  background-color: #7cb4e4;
  color: white;
}
